@model List<ExpertsListItemVM>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>

    <h2>Experts List</h2>

    <table>
        <tr>
            <th>Id</th>
            <th>ImagePath</th>
            <th>Smlinks</th>
            <th>ProfessionName</th>
            <th>IsDeleted</th>
        </tr>
        @foreach(var item in Model)
        {
           <tr>
                <td>@item.Id</td>
                <td>@item.ImagePath</td>
                <td>
                  @item.SMLink
                    

                </td>
                <td>@item.ProfessionName</td>
                <td>@item.IsDeleted</td>
            </tr>
        }
    </table>

</body>