@model List<ExpertsListItemVM>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>

    <h2>Experts List</h2>
    <h3><a asp-action="CreateExpert">Create</a></h3>
    <table>
        <tr>
            <th>Id</th>
            <th>ImagePath</th>
            <th>Smlinks</th>
            <th>ProfessionName</th>
            <th>IsDeleted</th>
            <th>Update</th>
        </tr>
        @foreach(var item in Model)
        {
           <tr>
                <td>@item.Id</td>
                <td>@item.ImagePath</td>
                @if (item.SMLink == null || item.SMLink.Count() == 0)
                {
                    <td>Empty</td>
                }
                else
                {
                    <td>@string.Join(",",item.SMLink.Select(x=>x))</td>
                }

             
                <td>@item.ProfessionName</td>
                <td>@item.IsDeleted</td>
                <td><a asp-action="UpdateExpert" asp-route-id="@item.Id" asp-area="Admin">Update</a></td>
            </tr>
        }
    </table>

</body>